/**.html {
  height: 100%;
}
.body {
  height: 100%;
} **/

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.messagesWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapercave.com/wp/wp2824890.jpg");
  background-repeat: repeat;
}


.messages {
  position: absolute;
  width: min-content;
  margin-right: 10px;
  margin-bottom: 10px;
  left: 85%;
}

.message {
  background-color: #6beb34;
  color: white;
  border-radius: 30px;
  width: min-content;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* BOTTOM BAR */

/* Width 98% + 2% padding */
.messagingWrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 7%;
    text-align: center;

}

.inputbox {
  background-color: white;
  display: inline-block;
  width: 80%;
  border-radius: 30px;
  height: 6vh;
  line-height: 6.5vh;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Width 18% */
.button {
  background-color: gray;
  display: inline-block;
  margin-left: 2%;
  line-height: 6.5vh;
}

/* END BOTTOM BAR*/
