.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-stripe {
  height: 100px;
  background-color: rgb(59, 191, 158);
  @media(max-width: 500px) {
  width: 100vh;
  }
}

.bg-rest {
  height: calc(100vh - 100px);
  background-color: rgb(224, 224, 224);
  @media(max-width: 660px) {
  width: 100vh;
  }

}

.chat-wrapper {
  position: absolute;
  width: 70%;
  min-width: 270px !important;
  height: 95%;
  top: 2.5%;
  left: 15%;
  @media(min-width: 660px) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 60px;
}

.top-bar-left {
  background-color: #EAEAEA;
  border-right: 0.5px solid rgb(217, 217, 217);

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  padding: 10px;
  font-weight: lighter;
  text-align: center;
}

.top-bar-right {
  background-color: #EAEAEA;
  border-bottom: 0.5px solid rgb(217, 217, 217);

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  padding: 10px;
  font-weight: lighter;
  text-align: center;
}

.leftBar {
  border-right: 0.5px solid rgb(217, 217, 217);
  background-color: rgb(240, 240, 240);

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;

  overflow-y: auto;
}

.userlist-item {
  background-color: rgb(240, 240, 240);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-right: 0.5px solid rgb(217, 217, 217);
  font-weight: lighter;
}

.userlist-item:hover {
  background-color: rgb(222, 222, 222);
}

.main {
  position: relative;
  //background-image: url("https://wallpapercave.com/wp/wp2824890.jpg");
  background-image: url("./bg.png");
  background-repeat: repeat;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.msg-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  bottom: 0 !important;
  overflow-y: auto;
}

.msg-other {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  margin: 0 10px 5px 10px;
  float: left;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 7px;
}

.msg-own {
  position: relative;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: max-content;
  max-width: 80%;
  background-color: #dcf8c7;
  border-radius: 5px;
  text-align: left;
  margin: 0 10px 5px 10px;
  float: right;
  padding: 7px;
}

.msg-user {
  font-weight: 700;
  font-size: small;
}

.msg-timestamp {
  padding-left: 40px;
  text-align: right;
  font-size: small;
  font-weight: 500;
  color: #3E3E3E;
}

.divider {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #EAEAEA;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  min-width: 270px !important;
}

.footer-relative {
  box-sizing: border-box;
  position: relative;
}

.footer-wrapper {
  box-sizing: border-box;
  margin-left: 10%;
  margin-top: 1%;
  bottom: 0 !important;
}

.input-box {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: white;
  display: inline-block;
  width: 80%;
  border-radius: 30px;
}

.button {
  box-sizing: border-box;
  position: relative;
  background-color: #EAEAEA;
  display: inline-block;
  margin-left: 5px;
}
