$leftBarDesktop: 200px;
$leftBarMobile: 120px;

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: yellow;
}

.bg-stripe {
  height: 100px;
  background-color: rgb(59, 191, 158);
}
.bg-rest {
  height: calc(100vh - 100px);
  background-color: rgb(224, 224, 224);
}

.chat-wrapper {
  position: absolute;
  width: 70%;
  height: 95%;
  top: 2.5%;
  left: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-bar {
  height: 50px;
  background-color: #EAEAEA;
  border-bottom: 0.5px solid rgb(217, 217, 217);
}
.top-bar-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 50px;
  background-color: #EAEAEA;
  border-right: 0.5px solid rgb(217, 217, 217);
}

.leftBar {
  box-sizing: border-box;
  border-right: 0.5px solid rgb(217, 217, 217);
  position: absolute;
  height: calc(100% - 50px);
  @media only screen and (max-width: 500px) {
    width: $leftBarMobile;
  }
  @media only screen and (min-width: 500px) {
    width: $leftBarDesktop;
  }
  left: 0;
  top: 30;
  background-color: white;
  z-index: 10;
}

.main {
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 60px);
  @media only screen and (max-width: 500px) {
    left: $leftBarMobile;
  }
  @media only screen and (min-width: 500px) {
    left: $leftBarDesktop;
  }
  right: 0;
  background-image: url("https://wallpapercave.com/wp/wp2824890.jpg");
  background-repeat: repeat;
  overflow-y: scroll;
  z-index: 0;

}

.main-relative {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.msg-wrapper {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.msg-other {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  margin: 0 10px 5px 10px;
  float: left;
  padding: 5px;
  background-color: #CACACA;
  border-radius: 7px;
  bottom: 60px;
}

.msg-own {
  position: relative;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: max-content;
  max-width: 80%;
  background-color: #98F23F;
  border-radius: 5px;
  text-align: left;
  margin: 0 10px 5px 10px;
  float: right;
  padding: 7px;
  bottom: 60px;
}

.msg-user {
  font-weight: 700;
  font-size: small;
}

.msg-timestamp {
  text-align: right;
  font-size: small;
  font-weight: 500;
  color: #3E3E3E;

}

.divider {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  @media only screen and (max-width: 500px) {
    left: $leftBarMobile;
  }
  @media only screen and (min-width: 500px) {
    left: $leftBarDesktop;
  }
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: #EAEAEA;
  z-index: 9;
}

.footer-relative {
  box-sizing: border-box;
  position: relative;

}

.footer-wrapper {
  box-sizing: border-box;
  margin-left: 10%;
  margin-top: 1%;
  bottom: 0 !important;
}

.input-box {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: white;
  display: inline-block;
  width: 80%;
  border-radius: 30px;

}

.button {
  box-sizing: border-box;
  position: relative;
  background-color: #EAEAEA;
  display: inline-block;
  margin-left: 5px;
}
